<div class="container">
	<div class="row">
	    <div class="col-xs-3">
	    	<%= render 'users/abc', user: @user, book_new: @book_new %>
		</div>
    <div class="col-xs-9">
		<h2>Books</h2>
		<table class="table">
			<tr>
				<th></th>
				<th>Title</th>
				<th>Opinion</th>
		    </tr>
	    <% @books.each do |book| %>

	     <!-- ここを追加 -->
    <% if current_user != book.user %>
        <% if book.user.followed_by?(current_user) %>
            <p><%=link_to "フォロー済み", user_relationships_path(book.user.id), method: :delete %></p>
        <% else %>
            <p><%=link_to "フォローする", user_relationships_path(book.user.id), method: :post %></p>
        <% end %>
    <% end %>
    <!-- ここまで -->

		    <tr>
		    	<td><%= link_to attachment_image_tag(book.user, :profile_image, size:'40x40', format: 'jpg',fallback: "no_image.jpg" ),user_path(book.user) %>
		    	</td>
		    	<td><%= link_to book.title,  book_path(book) %> </td>
		    	<td><%= book.body %></td>
            </tr>
	    <% end %>
	    </table>
		</div>
    </div>
</div>

