<div class="container">
	<div class="row">
	    <div class="col-xs-3">
	    	<%= render 'users/abc', user: @user, book_new: @book_new %>
		</div>
		<div class="col-xs-9">
			<h2>User info</h2>
			<table class="table">
		<tr>
			<td><%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %>
			
			</td>
			<td><%= @book.title  %>
	</td>
			<td><%= @book.body %></td>
			<td><%= link_to 'Edit', edit_book_path(@book.id), {class: "btn-sm btn-success edit_book_31440"} %></td>
            <td><%= link_to 'Destroy', book_path(@book.id), {class: "btn-sm btn-danger destroy_book_31451"} method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>